@media (min-width: 576px) {
    .bd-footer {
        text-align: left;
    }
    .bd-footer {
        padding: 4rem 0;
        margin-top: 4rem;
        font-size: 85%;
        text-align: center;
        background-color: #f7f7f7;
    }
    .bd-footer-links {
        padding-left: 0;
        margin-bottom: 1rem;
    }
    .bd-footer-links li {
        display: inline-block;
    }
    .bd-footer a {
        font-weight: 500;
        color: #464a4c;
    }
    .job-names {
        margin: 0 .5em;
    }
}